.line{
  border:none;
  background-color: #3c3836;
  margin:0px;
  padding:4px;
  width:100%;
  white-space: nowrap;
  font-size:18px;
  display:flex;
  color:white;
  font-weight: 300;
}

.content{
  width:96%;
  padding-left:1%;
  caret-color: white;
  text-align:top;
  height:max-content;
}

.content:focus-visible{
  outline: none; 
}

.line:focus-within{
  outline: 1px solid grey;
}

.normal-line:focus-within{
  outline: 1px solid grey;
  background-color:rgba(255, 255, 255, 0.2);
}

.index{
  width:4%;
  text-align:right;
}
