.line{
  border:none;
  background-color: #3c3836;
  margin:0px;
  padding:0px;
  width:100%;
  white-space: nowrap;
  max-height:18px;
  font-size:18px;
}

.content{
  width:auto%;
  padding-left:1%;
  caret-color: white;
}

.line:focus{
  border:1px solid white;
}

.index{
  width:10%;
  text-align:right;
}
